.board-box {
    width: 300px;
    height: 500px;
    border-radius: 5px;
    background-color: whitesmoke;
}
.beige-box {
    width: 300px;
    height: 500px;
    border-radius: 5px;
    color:#C8A885;
    background-color: whitesmoke;
}
.blue-box {
    width: 300px;
    height: 500px;
    border-radius: 5px;
    color: #74AEC1;
    background-color: whitesmoke;
}
.head-row {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: #666666;
    background-color: whitesmoke;
}

.guess-row {
    padding-left: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: whitesmoke;
}
.score-row {
    padding-left: 20px;
    padding-left: 30px;
    background-color: whitesmoke;
}

.offset {
    color: whitesmoke;
}