.board-box {
    width: 350px;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: whitesmoke;

}

.guess-row {
    padding-right: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: whitesmoke;
}
.score-row {
    background-color: whitesmoke;
}

.offset {
    color: whitesmoke;
}
