.board-row {
    padding-right: 60px;
    padding-left: 40px;
    background-color: whitesmoke;
    text-transform: uppercase;
}

.board-hd {
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 40px;
    background-color: whitesmoke;
}
.board-ft {
    padding-top: 10px;
    padding-right: 60px;
    padding-left: 40px;
    background-color: whitesmoke;
}
