.board-row {
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: whitesmoke;
}

.board-hd {
    margin-right: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: whitesmoke;
}

.word {
    text-align: center;
}
