* {
    box-sizing: border-box;
  }

body {
    font-family: 'PT Sans', sans-serif;
    background-image: url("../../assets/myWord_Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 1px; 
}

img {
  max-width: 100%;
  height: auto;
}

.card {
  margin: auto;
  margin-top: 23px;
  text-align: center;
  border-radius: 25px;
}

.cardHeader {
  background-color:#74aec1;
  margin-top: 90px;
  text-align: center;
  margin: 0 auto;
  border-radius: 25px !important;
  border: none;
}

.card-header {
  background-color: #c8a885;
  color: white;
  font-weight: 600;
  font-size: x-large;
  border-top-left-radius: 25px !important;
  border-top-right-radius: 25px !important;
  border-color:#c8a885;
  border-width: thick;
}

.logo {
  max-width: 50%;
  height: 129;
}

.card-text {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: large;
  font-weight: 400;
  color: #242222;
}

.row {
  margin-top: 20px;
}
