.myboard {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 25px;
    width: 25px;
    color: #ffffff;
    background-color: #c8a885;
    border: none;
    border-radius: 100px;
    text-transform: uppercase;
}